# SYSTEM MODE (Options: SERIAL or ESP32)
# SERIAL: Uses USB Arduino connection
# ESP32: Uses WiFi Push API via /api/sensor-data
MODE=SERIAL

# SAFE MODE (Options: true or false)
# true: Disables all hardware logic and enables immediate UI rendering for testing
SAFE_MODE=true

# WIFI CONFIG (For ESP32 Mode)
WIFI_SSID=YourWiFiName
WIFI_PASS=YourWiFiPassword
SERVER_IP=192.168.1.XX

# NODEMAILER CONFIG
SMTP_USER=
SMTP_PASS=
ALERT_RECEIVER=

# TWILIO CONFIG
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
ALERT_PHONE_NUMBER=
